* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root {
    --bg-color: #070236;
    --secont-bg-color: #101010;
    --main-color: #a50cec;
    --text-color: #fff;
    --second-color: #e4e4e4;
    --other-color: #c6c9d8bf;

    --h1-font: 7rem;
    --h2-font: 3.0rem;
    --p-font: 0.9rem;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 11%;
    border-bottom: 1px solid transparent;
    transition: all ease .50s;
}

nav {
    height: 3rem;
    background-color: #b800f06b;
    width: 50rem;
    border-radius: 5px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

a {
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}

.link {
    position: relative;
    list-style: none;
    padding: 4px 0;
}

.link::after,
.link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.6s ease-in-out;
}

.link::after {
    top: 0;
    right: 0;
    transform-origin: right;

}

.link::before {
    left: 0;
    bottom: 0;
    transform-origin: left;
}

.link:hover::after,
.link:hover::before {
    width: 100%;
}

section {
    padding: 120px 19% 100px;
}

.home {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url(../img/Zoom\ Background\ -\ Planetas\ no\ Espaço\ \(4\).png);
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero-text h3 {
    color: var(--second-color);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 3px;
    word-spacing: 1px;
}

.hero-text h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 70px;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.hero-text h4 {
    color: var(--second-color);
    font-size: 20px;
    font-weight: 600;
    word-spacing: 15px;
    margin-bottom: 3.5rem;
}

.bt {
    display: inline-block;
    padding: 16px 45px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: var(--main-color);
    font-weight: 600;
    border: 2px solid var(--main-color);
    transition: all ease .50s;
}

.bt:hover {
    transform: translateX(5px);
    background: transparent;
    border: 2px solid var(--main-color);
}

header.sticky{
    padding: 6px 11%;
    background: #b800f06b;
    border-bottom: 1px solid #4e5055;
}

.sobre {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 4rem;
}

.sobreimg img{
    width: 100%;
    height: auto;

}
.sobre-texto h5{
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4;
}
span{
    color: var(--main-color);
}

.sobre-texto h2{
    font-family: 'Dosis', sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;

}

.sobre-texto p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 3rem;
}


    .home {
        padding: 80px 10% 50px;
    }

    .hero-text h1 {
        font-size: 50px;
    }

    .hero-text h4 {
        font-size: 18px;
    }

    .bt {
        padding: 12px 35px;
    }

    .navlist a {
        margin: 0 20px;
    }

    #menu-icon {
        display: block;
    }

/* orbit */

@keyframes spin {
    from {
      transform: rotate(0);
    }
    to{
      transform: rotate(359deg);
    }
  }
  
  @keyframes spin3D {
    from {
      transform: rotate3d(.5,.5,.5, 360deg);
    }
    to{
      transform: rotate3d(0deg);
    }
  }
  
  @keyframes configure-clockwise {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes configure-xclockwise {
    0% {
      transform: rotate(45deg);
    }
    25% {
      transform: rotate(-45deg);
    }
    50% {
      transform: rotate(-135deg);
    }
    75% {
      transform: rotate(-225deg);
    }
    100% {
      transform: rotate(-315deg);
    }
  }
  
  @keyframes pulse {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: .25;
      transform: scale(.75);
    }
  }
  
  /* estilo orbit */
  
  * {
    box-sizing: border-box;
  }
  
  body {
    min-height: 50vh;
    background-color: #1d2630;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .spinner-box {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  
  .leo {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
  }
  
  .blue-orbit {
      width: 100px;
      height: 100px;
    border: 3px solid #91daffa5;
    -webkit-animation: spin3D 3s linear .2s infinite;
  }
  
  .green-orbit {
      width: 100px;
      height: 100px;
    border: 3px solid #91ffbfa5;
    -webkit-animation: spin3D 2s linear 0s infinite;
  }
  
  .red-orbit {
      width: 90px;
      height: 90px;
    border: 3px solid #ffca91a5;
    -webkit-animation: spin3D 1s linear 0s infinite;
  }
  
  .white-orbit {
      width: 60px;
      height: 60px;
    border: 4px solid #ffffff;
    -webkit-animation: spin3D 10s linear 0s infinite;
  }
  
  .w1 {
    transform: rotate3D(1, 1, 1, 90deg);
  }
  
  .w2 {
    transform: rotate3D(1, 2, .5, 90deg);
  }
  
  .w3 {
    transform: rotate3D(.5, 1, 2, 90deg);
  }