* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root {
    --bg-color: #070236;
    --secont-bg-color: #101010;
    --main-color: #a50cec;
    --text-color: #fff;
    --second-color: #e4e4e4;
    --other-color: #c6c9d8bf;

    --h1-font: 7rem;
    --h2-font: 3.0rem;
    --p-font: 0.9rem;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

.battery-whole {
    position: absolute;
    left: 73vw;
    top: 35vh;
    transform: scale(0.2); /* Adicionando a escala para reduzir pela metade */
}

.bump {
    background: #faf9f9;
    width: 6vw;
    height: 3vw;
    position: absolute;
    left: 10.5vw;
    top: -3vw;
    border-radius: 1vw 1vw 0 0 ;
}

.battery {
    width: 25vw;
    height: 70vh;
    overflow: hidden;
    position: absolute;
    border-radius: 3vw;
    border: solid 1vw #000823;
    box-shadow: 0 0 0 0.5vw #fffbfb;
    z-index: 3;
}

.glass {
    width: 3vw;
    height: calc(70vh/4);
    z-index: 50;
    position: absolute;
    background: rgba(199, 199, 199, 0.3);
    bottom: 5vw;
    left: 1vw;
    border-radius: 2vw;
    backdrop-filter: blur(5px);
}

.waves-container {
    position: absolute;
    top: 60vh;
    animation: rise infinite 5s;
}

@keyframes rise {
    from {
        top: 55vh;
    }

    to {
        top: -2vh;
    }
}

.wave {
    --mask:
    radial-gradient(15.65vw at 50% 21.00vw, #000 99%, #000 101% ) calc(50% - 14vw) 0/28vw 100%, 
    radial-gradient(15.65vw at 50% -14vw, #000 99%, #000 101% ) 50% 7vw/28vw 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);

    background: linear-gradient(#ff68f5 25%, #543afb);
    width: 70vh;
    height: 70vh;
    position: absolute;
    animation: move-left alternate infinite 2s linear;
    top: 3vh;
    z-index: 2;
    filter: blur(0);
}

.wave:nth-of-type(2) {
    top: 1vh;
    background: #9E12EA;
    z-index: 1;
    left: -25vw;
    animation: move-right alternate infinite 2s linear;  
}

@keyframes move-left {
    from {
        left: 0;
    }
    to {
        left: -15vw;
    }
}

@keyframes move-right {
    from {
        left: -25vw;
    }
    to {
        left: 0vw;
    }
}

.bubble {
    position: absolute;
    animation: move-up1 infinite linear 3s;
    width: 3vw;
    height: 3vw;
    background: linear-gradient(#280cf5, #550a8d);
    opacity: 25%;
    bottom: -25vw;
    left: 2vw;
    border-radius: 100%;
    z-index: 45;
}

.bubble:nth-of-type(3) {
    animation: move-up2 infinite linear 4s;
    left: 6vw;
    bottom: -8vw;
}

.bubble:nth-of-type(4) {
    animation: move-up3 infinite linear 4s;
    left: 15vw;
    bottom: -3vw;
    height: 4vw;
    width: 4vw;
}

.bubble:nth-of-type(5) {
    left: 10vw;
    bottom: -13vw;
    width: 2vw;
    height: 2vw;
    animation: move-up4 infinite linear 2s;
}

.bubble:nth-of-type(6) {
    left: 20vw;
    bottom: -7vw;
    width: 5vw;
    height: 5vw;
    animation: move-up5 infinite linear 3s;  
}

@keyframes move-up5 {
    from {
        bottom: -7vw;
    }
    to {
        bottom: 70vh;
    }
}

@keyframes move-up4 {
    from {
        bottom: -13vw;
    }
    to {
        bottom: 70vh;
    }
}

@keyframes move-up3 {
    from {
        bottom: -3vw;
    }
    to {
        bottom: 70vh;
    }
}

@keyframes move-up2 {
    from {
        bottom: -8vw;
    }
    to {
        bottom: 70vh;
    }
}

@keyframes move-up1 {
    from {
        bottom: -25vw;
    }
    to {
        bottom: 70vh;
    }
}

.title1 {
    position: absolute;
    margin-left: 40px;
    margin-top: 180px;
    width: 100%;
    line-height: 300px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: .2em;
    font-size: 20px;
    text-shadow: 0 1px 0 rgba(#000, .1);
    text-indent: .3em;
    z-index: 50;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 11%;
    border-bottom: 1px solid transparent;
    transition: all ease .50s;
}

.logo img {
    width: 45%;
    height: auto;
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 40px;
    transition: all ease .40s;
}

.navlist a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 42px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 120px 19% 100px;
}

.home {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url(../img/Zoom\ Background\ -\ Planetas\ no\ Espaço\ \(4\).png);
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero-text h3 {
    color: var(--second-color);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 3px;
    word-spacing: 1px;
}

.hero-text h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 70px;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.hero-text h4 {
    color: var(--second-color);
    font-size: 20px;
    font-weight: 600;
    word-spacing: 15px;
    margin-bottom: 3.5rem;
}

.bt {
    display: inline-block;
    padding: 16px 45px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: var(--main-color);
    font-weight: 600;
    border: 2px solid var(--main-color);
    transition: all ease .50s;
}

.bt:hover {
    transform: translateX(5px);
    background: transparent;
    border: 2px solid var(--main-color);
}

header.sticky{
    padding: 6px 11%;
    background: #b800f06b;
    border-bottom: 1px solid #4e5055;
}

.sobre {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 4rem;
}

.sobreimg img{
    width: 100%;
    height: auto;

}
.sobre-texto h5{
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4;
}
span{
    color: var(--main-color);
}

.sobre-texto h2{
    font-family: 'Dosis', sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;

}

.sobre-texto p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 3rem;
}
/* Media Query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    .battery-whole {
        left: 50vw;
        top: 20vh;
        transform: scale(0.1);
    }

    .bump {
        width: 10vw;
        height: 5vw;
        left: 5vw;
    }

    .battery {
        width: 50vw;
        height: 150vh;
    }

    .glass {
        width: 10vw;
        height: calc(70vh / 4);
        bottom: 2vw;
    }

    .waves-container {
        top: 40vh;
    }

    .wave,
    .wave:nth-of-type(2) {
        width: 100vw;
        height: 100vw;
    }

    .bubble {
        width: 5vw;
        height: 5vw;
        left: 2vw;
        bottom: -10vw;
    }

    .bubble:nth-of-type(3) {
        left: 6vw;
        bottom: -5vw;
    }

    .bubble:nth-of-type(4) {
        left: 15vw;
        bottom: -2vw;
        height: 6vw;
        width: 6vw;
    }

    .bubble:nth-of-type(5) {
        left: 10vw;
        bottom: -7vw;
        width: 3vw;
        height: 3vw;
    }

    .bubble:nth-of-type(6) {
        left: 20vw;
        bottom: -3vw;
        width: 7vw;
        height: 7vw;
    }

    .title1 {
        margin-top: 80px;
    }

    .home {
        padding: 80px 10% 50px;
    }

    .hero-text h1 {
        font-size: 50px;
    }

    .hero-text h4 {
        font-size: 18px;
    }

    .bt {
        padding: 12px 35px;
    }

    .navlist a {
        margin: 0 20px;
    }

    #menu-icon {
        display: block;
    }
}
